:root {
	--color-primary: #007bff;
	--color-secondary: #6c757d;
	--color-success: #28a745;
	--color-danger: #dc3545;
	--color-warning: #ffc107;
	--color-info: #17a2b8;
	--color-light: #f8f9fa;
	--color-dark: #343a40;
}

.textarea {
	border: 1px solid var(--color-primary);
	border-radius: 5px;
	outline: none;
	padding: 10px;
	&:focus {
		border-color: var(--color-primary);
	}
}
